.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  list-style: none;
  gap: 25px;
  padding-right: 15px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 10px 15px;
}

.message__header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.message__content {
  font-size: 16px;
  font-weight: 300;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message__time-stamp {
  font-size: 14px;
  opacity: 0.5;
  font-weight: 300;
}
